<div class="">
	<div class="row">
		<div class="col-xs-5 left-pane">
			<div class="row hero-row">
				<div class="col-xs-7">
					<img class="hero img-responsive img-circle img-thumbnail center-block" src="{{park.user.img}}">
				</div>
				<div class="col-xs-5">
					<div class="user-content">
						<h3 class="">
							{{park.user.place}} place
						</h3>
						<h4 class="">
							{{park.user.score}}% average efficiency
						</h4>
					</div>
				</div>
			</div>
			<div class="standings-container">
				<ul class="user-list list-unstyled">
					<li ng-repeat="friend in park.friends" class="row">
						<img class="img-responsive img-circle img-thumbnail col-xs-3" src="{{friend.img}}">
						<div class="col-xs-offset-1 col-xs-8">
							<div class="name">{{friend.place}} place</div>
							<div class="content">
								{{friend.score}}% efficiency
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		

		<div class="col-xs-7 right-pane">
			<div class="row trip-stats-summary">
				<div class="col-xs-4 center-helper ">
					<img class="img-responsive stat-icon center-block" src="images/efficiency.png" />
					<span class="big-stat">{{park.user.currentTrip.score}}% efficient</span>
				</div>
				<div class="col-xs-4 center-helper ">
					<img class="img-responsive stat-icon center-block" src="images/time.png" />
					<span class="big-stat">{{park.user.currentTrip.duration}} minutes</span>
				</div>
				<div class="col-xs-4 center-helper ">
					<img class="img-responsive stat-icon center-block" src="images/fuel.png" />
					<span class="big-stat">{{park.user.currentTrip.fuelUsed}}% used last trip</span>
				</div>
			</div>
			<div class="trip-stats-container">
				<div class="row trip-stats-row" ng-repeat="metric in park.user.currentTrip.metrics">
					<div class="col-xs-12">
						<div class="align-left">{{metric.label}}</div>
						<div class="progress">
							<div class="progress-bar {{park.progressColor(metric.value)}}" style="width: {{metric.value}}%;"></div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>


</div>
