<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>King of the Road</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/custom.css" rel="stylesheet" type="text/css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png" />

</head>
<body ng-app="app" ng-controller="shell as shell">
  <div id="navbar" ng-class="shell.navVisible ? 'navbar-show' : 'navbar-collapse collapse' ">
          <ul class="nav navbar-nav">
            <li class="active"><a href="" ng-click="shell.goToHome()">Home</a></li>
            <li><a ng-click="shell.goToTrips()">Trips</a></li>
          </ul>
        </div>
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed custom-nav" ng-click="shell.showMenu(true)">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="section-title">
            <div class="col-xs-12">
              {{shell.title}}
            </div>
          </div>
          
        </div>
        <!--/.nav-collapse -->
      </div>
    </nav>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  
      <div class="col-xs-12">
<!--         TODO Nav
 -->
      </div>
    </div>
    <div ng-click="shell.showMenu(false)">
      <div ng-view></div>

    </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="vendor/angular/angular.min.js"></script>
    <script src="vendor/angular/angular-route.min.js"></script>
<!--     <script src="vendor/angular-ui/ui-bootstrap-tpls-0.11.0.min.js"></script>
 -->
    <script src="vendor/lodash/lodash.min.js"></script>

    <script src="js/car.module.js"></script>
    <script src="js/core/dataservice.js"></script>
    <script src="js/core/constants.js"></script>
    <script src="js/shell.controller.js"></script>

    <script src="js/home/home.controller.js"></script>
    <script src="js/trips/trips.controller.js"></script>
    <script src="js/metrics/metrics.module.js"></script>
    <script src="js/metrics/metrics.controller.js"></script>
    <script src="js/car.route.js"></script>


</body>
</html>